body
{
    background-image: url(bg-2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    overflow-x:hidden;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    color:white;   
}
#cytat
{
    color:yellow;
    background-color: black;
    padding:10px;
    text-align:center;
}
.aside
{
    float:right;
    animation-name:c3po;
    animation-duration:15s;
    -webkit-animation-name: c3po;
    -webkit-animation-duration:15s;
    position: relative;  
}
#navbar
{
    margin-bottom: 30px;
    animation-name:topmenu;
    animation-duration:3000s;
    -webkit-animation-name: topmenu;
    -webkit-animation-duration:3000s;
    position: relative;
}
article
{
    color:yellow;
    max-width:600px;
    text-align:center;
    animation-name:napisy;
    animation-duration:10s;
    -webkit-animation-name: napisy;
    -webkit-animation-duration:10s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    position: relative;
    z-index: 200;
}
@keyframes napisy
  {         
    0% {left:0px; top:750px;}
    100% {left:0px; top:0px;} 
   }
  @-webkit-keyframes napisy
  {
      0% {left:0px; top:850px;}
            100% {left:0px; top:0px;} 
  }
#sidebar
{
    font-size:20px;
    margin-top:50px;
    animation-name:bocznemenu;
    animation-duration:20s;
    -webkit-animation-name: bocznemenu;
    -webkit-animation-duration: 20s;
    position: relative;
}
@keyframes topmenu
  {         
    0% {top:0px;}
    100% {top:-100000px;} 
  }
@-webkit-keyframes topmenu
  {
    0% {top:0px;}
    100% {top:-100000px;} 
  }
#bb8
  {
    top:10px;
    left:10px;
    position:absolute;
    height:100px;
    width:100px;
    animation-name:bb8;
    animation-duration:300s;
    -webkit-animation-name: bb8;
    -webkit-animation-duration: 300s;
  }
@keyframes bb8
  {         
    0% {top:650px;left:-100px;}
    100% {top:650px; left:220000px;}
  }
@-webkit-keyframes bb8
  {
    0% {left:-100px;}
    100% {left:220000px;} 
  }
@media only screen and (max-width:698px)
  {
    article, h2, h3, h4
    {
      font-size:15px;
      width:355px;
      animation-name:nie;
    }
    #navbar
    {
      display:none;
    }
    #bb8
    {
      display:none;
    }
    .aside
    {
      margin-left:30px;
    }
    #sidebar
    {
      margin-left:70px;
    }
  }